{% extends 'Base.html' %}

{% block head %}
<title>Articulos extras de reservacion ESEN</title>
{% endblock head %}

{% block content %}

<h1>Articulos extras de reservacion ESEN</h1>
<br>
<form action="" method="POST">
    <fieldset>
        <select id="selLanguage" multiple="multiple" size="6">
            <option value="Sonido">Equipo de Sonido</option>
            <option value="Instructor">Orador</option>
            <option value="Sillas">Sillas extras</option>
            <option value="Banquete">Banquete</option>
            <option value="Plumones">Plumones</option>
            <option value="Aireacondicionado">Aire Acondicionado</option>
            <option value="Otros">Otros</option>
        </select>
        <button type="button" onclick="showChoices()">
            Submit
        </button>
    </fieldset>
</form>
<div id="output">
</div>
<br>
<a href="/tipo_pago"><input type="button" value="Finalizar reservacion"></a>
<br>
<a href="/cancelar"><input type="button" value="Cancelar"></a>
{% endblock content %}

pip install flask - mysqldb