
body
{
    background-color: #0F488C;  
    color:#B39662;
    text-align: center
    /* background-repeatb(logo) */
}



.botton 
{
    color: #B39662;;
    width: 100px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}