
body
{
  background-color: #0F488C;  
  color:#B39662;
  text-align: center
}

h1
{
  font-size: 50px;
  background-color: white;
  padding: 15px;
}

/* Header/Logo Title */
.header 
{
  padding: 0px 0;
  text-align: left;
  background: #ffffff;
  color: #294a70;
  font-size: 20px;
  font-family: "Merriweather Sans",sans-serif;
  
}

footer{
  background-color: #294a70;
  color: white;
  font-family: Merriweather Sans,sans-serif;
}