form
{
   /*  width: 580px;
    position: absolute; */
    color: #B39662;
    /* top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px; */
}