{% extends 'Base.html' %}

{% block head %}
    <title>Informacion tarjeta </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/form.css') }}">
{% endblock head %}

{% block content %}

<body>
<h1>Ingresa tu tarjeta</h1>

<div>
    <h3>Por favor comple  ta los siguientes campos</h3>
    <form>
    <form action="/inicio/registerform" method="POST">
      <h4>Número de tarjeta </h4>
        <input type = "text" id="cardnumber" autocomplete="cc-number" type="tel" pattern="[0-9]*" placeholder="0000 0000 0000 0000"
            required />
        <br>
      <h4>Fecha de vencimie</h4>  
        <select id="expiry-month" name="expiry-month">
            <option id="trans-label_month" value="" default="default" selected="selected">Mes</option>
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
       
        <select id="expiry-year" name="expiry-year">
            <option id="trans-label_year" value="" default selected="selected">Año</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
        </select>

        <br>
        <h4>Código de seguridad </h4>
        <input type = "text" id="security-code" autocomplete="off" type="tel" pattern="[0-9]*" placeholder="" required />
        <br>
        <h4>Nombre que aparece en la tarjeta </h4>
        
        <input type = "text" id="nombreTarjeta" autocomplete="off" name="nombreTarjeta" required/>
        <input type="button" value="Reservar" />
        
        <a href="/reserva_termianda"><input type="button" value="Finalizar reservacion"></a>
        
        <a href="/cancelar"><input type="button" value="Cancelar"></a>
    </form> 
    <br><br>
{% endblock content %}