{% extends 'Base.html' %}

{% block head %}
    <title>Inicio de sesion</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"
    >
{% endblock head %}

{% block content %}

    <h1>Usuarios ESEN</h1>
    <br>
    <form action="/inicio/registerform" method="POST">
       
        Usuario:
        <input type="text" name="Usuario" id="idUsuario" required>
        <br><br>

        Contraseña:
        <input type="password" name="password" id="idPassword" required>
        <br><br>
        <input type="submit" value="Crear usuario">
      

    </form>

    {% endblock content %}
    