{% extends 'Base.html' %}

{% block head %}
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/form.css') }}">
    
{% endblock head %}
{% block content %}

<body>
<h1>Inicia Sesión</h1>
<div>
    <form action="/inicio_sesion" method="POST">
        <form action="/inicio_sesion" method="POST">
       
            <h3>Ingresa tus datos</h3>
    
            <input type="text" id="fname" name="Usuario" placeholder="Usuario">
            <br><br>
            <input type="text" id="lname" name="contra" placeholder="Contraseña">
            <br><br>
            <input type="submit" value="Crear usuario">
            <br><br>
        
        </form>

    {% endblock content %}
    