{% extends 'Base.html' %}
{% block head %}
    <title>Registro</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/form.css') }}">
    
{% endblock head %}

{% block content %}

<body>

<h1>Registro</h1>

<div>
    <form action="" method="POST">
      <h2>Ingresa tus datos para completar el registro</h2>
        <input type="text" name="nombre_empresa" id="idNombre_empresa" placeholder="Nombre Empresa" required>
        <br>
        <input type="text" name="giro" id="giro" placeholder="Giro de la empresa" required>
        <br>
        <input type="INT" name="NIT" id="NIT" placeholder="NIT" required>
        <br>
        <input type="INT" name="num_registro" id="num_registro" placeholder="Número de registro" required>
        <br>
        <input type="email" name="email" id="idEmail" placeholder="Correo" required>
        <br>
        <input type="text" name="Nombre_encargado" id="idNombre_encargado" placeholder="Nombre representante legal" required>
        <br>
        
        <a href="/reservaciones"><input type="button" value="Realizar una reservacion"></a>
        <a href="/"><input type="button" value="Inicio"></a>
        <a href="/cancelar"><input type="button" value="Cancelar"></a>
    </form>
{% endblock content %}


