{% extends 'Base.html' %}

{% block head %}
    <title>Reservaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/form.css') }}">
{% endblock head %}

{% block content %}

<body>`

<h1>Reservaciones</h1>

<div>
        <form action="" method="POST">

        <input type="text" name="Nombre_evento" id="idNombre_evento" placeholder="Nombre del evento" required>
        <br>
        <input type="text" name="Tipo_evento" id="idTipo_evento" placeholder="Tipo de evento" required>
        <br>
        Fecha inicio del evento:
        <input type="date" name="Fecha_inicio" id="idFecha_inicio" required>
        <br><br>
        Fecha final del evento: 
        <input type="date" name="Fecha_final" id="idFecha_final" required>
        <br><br>
        Hora inicio del evento: 
        <input type="time" name="Hora_inicio" id="idHora_inicio" required>
        <br><br>
        Hora final del evento: 
        <input type="time" name="Hora_final" id="idHora_final" required>
        <br><br>
        Fecha de reservacion: 
        <input type="date" name="Fecha_reservacion" id="idFecha_reservacion" required>
        <br>
        <input type="text" name="Nombre_empresa" id="idNombre_empresa" placeholder="Nombre empresa" required>
        <br>
        <input type="text" name="Nombre_encargado" id="idNombre_encargado" placeholder=" Nombre responsable" required>        

    <a href="/extras"><input type="button" value="Agregar extras"></a>
    <a href="/tipo_pago"><input type="button" value="Finalizar reservacion"></a>
    <a href="/cancelar"><input type="button" value="Cancelar"></a>
    </form>
{% endblock content %}