{% extends 'Base.html' %}

{% block head %}
    <title>Tipo de pago ESEN</title>
{% endblock head %}

{% block content %}
    <h1>Tipo de pago ESEN</h1>
    <h2>Selecciona tu forma de pago</h2>
    <form action="/metododepago" method="post" target="_blank">

    <p>
  
      Metodo de pago:<br>
  
      <input type="radio" name="metodo" value="efectivo"> Efectivo<br>
  
      <input type="radio" name="metodo" value="Tarjeta"> Tarjeta
  
    </p>
  
    <p><input type="submit" value="Enviar datos"></p>
  
  </form>
    <br><br>
    <a href="/cancelar"><input type="button" value="Cancelar"></a>
    
{% endblock content %}

