{% extends 'Base.html' %}

{% block head %}
    <title>Usuarios ESEN</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/form.css') }}">
{% endblock head %}

{% block content %}

<body>

<h1>Usuarios ESEN</h1>

<div>
  <form action="/action_page.php">
    <input type="text" id="fname" name="firstname" placeholder="Usuario">

    <input type="text" id="lname" name="lastname" placeholder="Correo electrónico">

    <input type="text" id="lname" name="lastname" placeholder="Contraseña">
      </select>
  
    <input type="button" value="Registrarse"> 
    <br>
    <a href="/reservaciones"><input type="button" value="Hacer una reservacion"></a>
    <br>
    <a href="/"><input type="button" value="Inicio"></a>
  </form>
</div>

{% endblock content %}

